.clubcharity
{
	
	.row
	{
		div 
		{
			img 
			{
				
			}
			.row-comming
			{
				p 
				{
					
				}
				.linegofl
				{
					
					img 
					{
						
					}
				}
				
			}
			.btn-comming-right
			{
				
				ul 
				{
					
					li 
					{
						
						img 
						{
							
						}
						
						
						
					}
					.text-title
					{
						
					}
					.btn
					{
						
						button 
						{
							
						}
					}
				}

			}
			.title-right
			{
				
				
			}
			span 
			{
				float: left;
				width: 100%;
				margin-top: 20px;
				margin-bottom: 15px;
				.icon-location
				{
					
				}
			}
			.Prize 
			{
				margin-top: 13px;
				li 
				{
					
					.icon-uer
					{
						
					}
					b 
					{
						top: 10px;
					}
					button 
					{
						color: #000;
						border-radius: 30px;
						padding: 10px 30px;
						font-size: 18px;
						font-weight: normal;
						background-color: #F8E71C;
						border: 0px;
						i 
						{
							padding-right: 5px;
						}
					}

				}
				.text
				{
					padding-top: 15px;
					padding-left: 20px;
				}
			}
			p 
			{
				
			}
		}
	}
}

.list-charity
{
	
	.title-page
	{

	}
	.row 
	{
		
		.img 
		{
			img 
			{
				
			}
		}
		.calenda
		{

			ul 
			{
				
				li 
				{

					img 
					{
						
					}
					


				}
				.text-title
				{
					
				}
				.btn
				{
					
					button 
					{
						
					}
				}
			}
		}
		.list
		{
			.title-right
			{
				
				font-size: 18px;
			}
			span 
			{
				float: left;
				width: 100%;
				margin: 5px 0px;
				.icon-location
				{
					
				}
			}
			.Prize 
			{
				margin-top: 0px;
				li 
				{
					
					.icon-uer
					{
						
					}
					b 
					{
						top: 10px;
					}
					button 
					{
						color: #000;
						border-radius: 30px;
						padding: 8px 22px;
						font-size: 18px;
						font-weight: normal;
						background-color: #F8E71C;
						border: 0px;
						i 
						{
							padding-right: 5px;
						}
					}

				}
				.text
				{
					padding-top: 15px;
					padding-left: 20px;
				}
			}
			p 
			{
				margin-bottom: 8px;
			}
		}
	}
}
