#my-directory {

  .wrap-directory-goft {
    margin-top: 15px;
    .panel-default {
      &:last-child {
        border-bottom: none;
        box-shadow: none;
      }

      .panel-heading {
        background: none;
        box-shadow: none;
        padding: 20px 0;

        h4 {
          a {
            color: #35A211;
            text-decoration: none;

            &:hover {
              text-decoration: none;
              color: #35A211;
            }

            &.collapsed {
              color: #333333;
            }
          }

          img {
            margin-right: 20px;
          }
        }
      }
    }

    .panel-group {
      .panel {
        border: none;
      }
    }
  }

  .wrap-table-directory {
    border-top: 1px solid #E0E0E0;
    background: #F1F1F1;

    .box-table {
      position: relative;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      background: white;
      padding: 30px;
      margin: 15px 0;
      .linegofl {
        width: 100%;
        border-bottom: 1px solid #E0E0E0;
        height: 45px;
        text-align: center;
        position: relative;
        margin-bottom: 50px;

        img {
          position: relative;
          background: white;
          width: 47px;
          height: 40px;
          top: 20px;
        }
      }

      h3 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 300px;
        overflow-y: scroll;

        li {
          padding: 10px 15px;
          border-bottom: 1px solid #f0f0f0;

          &:last-child {
            border-bottom: none;
          }

          .media-left {
            img {
              width: 42px;
              height: 42px;
              border-radius: 50%;
              margin-right: 10px;
            }
          }

          .media-body {
            position: relative;

            .img-hdcp {
              position: absolute;
              right: 0;
              top: 0;

              .number {
                position: absolute;
                z-index: 1;
                color: #C6B816;
                top: 10px;
                width: 100%;
                text-align: center;
                font-size: 12px;
                left: 0px;
              }
            }

            .text {
              display: inline-block;
              width: 100%;
padding-right: 40px;
              p {
                margin-bottom: 0;
                font-size: 12px;
                color: #9B9B9B;
              }

              h4 {
                margin-top: 0;
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
