.forgotpassword
{

	.row 
	{
		div
		{
			.content-labe
			{
				position: relative;
				float: left;
				width: 100%;
				text-align: left;
				margin-bottom: 20px;
				margin-top: 20px;
				label 
				{

				}
				input 
				{
					border-radius: 0px;
				}
			}
		}
		.btn-sign
		{
			margin-bottom: 30px;
		}
	}
}

