#add_subcription {
  h3 {
    font-size: 30px;
    margin: 50px 0 30px;
  }

  .checkbox {
    .cr {
      width: 20px;
      height: 20px;
    }
  }

  .checkbox-th {
    .checkbox {
      .cr {
        .cr-icon {
          font-size: 14px;
          text-indent: 2px;
        }
      }

      label {
        line-height: 13px;
        margin-bottom: 15px;
      }
    }
  }

  .modal-dialog {
    .modal-content {
      .modal-body {
        .row {
          .checkbox-th {
            margin: 20px 0px 0px 0px;
            padding: 0 45px;
            label {
              margin-bottom: 15px;
            }

            .checkbox {
              border-bottom: 1px solid #E0E0E0;
            }
          }

          .drop-list {
            button {
              color: #9B9B9B;
              border: 1px solid #E0E0E0;
              &:focus, &:active {
                outline: none;
                background: none;
                box-shadow: none;
              }
              &:hover {
                background: none;
              }
            }

            .dropdown-menu {
              padding: 0 45px;
              border: none;
              box-shadow: none;

              ul {
                border: 1px solid #f0f0f0;
                list-style: none;
                padding-left: 15px;
                li {
                  margin: 5px 0;

                  a {
                    color: #000;
                    display: block;
                  }
                }
              }
            }
          }

          .wrap-pay {
            display: inline-block;
            width: 100%;
            padding: 0 45px;

            .col {
              text-align: center;
            }

            h4 {
              font-size: 15px;
              font-weight: bold;
              margin: 23px 0;
            }

            span {
              width: 100%;
              margin: 15px 0;
              font-size: 15px;
              font-weight: bold;
            }

            img,
            input,
            span {
              display: inline-block;
            }
          }

          .btn-sign {
            margin: 50px 0 35px;
            display: inline-block;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }
}
