#my-advertising .box-shop .content-title {
  padding: 10px 15px; }
  #my-advertising .box-shop .content-title .title {
    padding: 5px 0 10px; }
  #my-advertising .box-shop .content-title .pire-content span {
    padding: 0; }
  #my-advertising .box-shop .content-title .icon-content i {
    margin-top: 0; }
